{% assign eggs = site.data.brunch.eggs %}
<div class="section section-{{ eggs.title }}" id="Brunch{{ eggs.name | capitalize }}">
  <h2>{{ eggs.title }}</h2>
  <ul class="section__list">
    {% for item in eggs.items %}
      <li class="section__item">
        <span class="section__item-name">{{ item.name }}</span>
        <span class="section__item-price">
          <span class="currency">$</span>
          {% if item.price.pair %}
            <span class="double-price">{{ item.price.pair }}</span>/
            <span class="quad-price">{{ item.price.quad }}</span>
          {% else %}
            <span class="price">{{ item.price }}</span>
          {% endif %}
        </span>
        {% if item.description %}
          <span class="section__item-description">{{ item.description }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% assign salads = site.data.brunch.salads %}
<div class="section section-{{ salads.title }}" id="Brunch{{ salads.name | capitalize }}">
  <h2>{{ salads.title }}</h2>
  <ul class="section__list">
    {% for item in salads.items %}
      <li class="section__item">
        <span class="section__item-name">{{ item.name }}</span>
        <span class="section__item-price">
          <span class="currency">$</span>
          {% if item.price.pair %}
            <span class="double-price">{{ item.price.pair }}</span>/
            <span class="quad-price">{{ item.price.quad }}</span>
          {% else %}
            <span class="price">{{ item.price }}</span>
          {% endif %}
        </span>
        {% if item.description %}
          <span class="section__item-description">{{ item.description }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>


{% assign sandwiches = site.data.brunch.sandwiches %}
<div class="section section-{{ sandwiches.title }}" id="Brunch{{ sandwiches.name | capitalize }}">
  <h2>{{ sandwiches.title }}</h2>
  <ul class="section__list">
    {% for item in sandwiches.items %}
      <li class="section__item">
        <span class="section__item-name">{{ item.name }}</span>
        <span class="section__item-price">
          <span class="currency">$</span>
          {% if item.price.pair %}
            <span class="double-price">{{ item.price.pair }}</span>/
            <span class="quad-price">{{ item.price.quad }}</span>
          {% else %}
            <span class="price">{{ item.price }}</span>
          {% endif %}
        </span>
        {% if item.description %}
          <span class="section__item-description">{{ item.description }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% assign sides = site.data.brunch.sides %}
<div class="section section-{{ sides.title }}" id="Brunch{{ sides.name | capitalize }}">
  <h2>{{ sides.title }}</h2>
  <ul class="section__list">
    {% for item in sides.items %}
      <li class="section__item">
        <span class="section__item-name">{{ item.name }}</span>
        <span class="section__item-price">
          <span class="currency">$</span>
          {% if item.price.pair %}
            <span class="double-price">{{ item.price.pair }}</span>/
            <span class="quad-price">{{ item.price.quad }}</span>
          {% else %}
            <span class="price">{{ item.price }}</span>
          {% endif %}
        </span>
        {% if item.description %}
          <span class="section__item-description">{{ item.description }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% assign mains = site.data.brunch.mains %}
<div class="section section-{{ mains.title }}" id="Brunch{{ mains.name | capitalize }}">
  <h2>{{ mains.title }}</h2>
  <ul class="section__list">
    {% for item in mains.items %}
      <li class="section__item">
        <span class="section__item-name">{{ item.name }}</span>
        <span class="section__item-price">
          <span class="currency">$</span>
          {% if item.price.pair %}
            <span class="double-price">{{ item.price.pair }}</span>/
            <span class="quad-price">{{ item.price.quad }}</span>
          {% else %}
            <span class="price">{{ item.price }}</span>
          {% endif %}
        </span>
        {% if item.description %}
          <span class="section__item-description">{{ item.description }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% assign drinks = site.data.drinks %}
<div class="section section-{{ drinks.title }}" id="Brunch{{ drinks.name | capitalize }}">
  <h2>{{ drinks.title }}</h2>
  <ul class="section__list">
    {% for item in drinks.items %}
      <li class="section__item">
        <span class="section__item-name">{{ item.name }}</span>
        <span class="section__item-price">
          <span class="currency">$</span>
          {% if item.price.pair %}
            <span class="double-price">{{ item.price.pair }}</span>/
            <span class="quad-price">{{ item.price.quad }}</span>
          {% else %}
            <span class="price">{{ item.price }}</span>
          {% endif %}
        </span>
        {% if item.description %}
          <span class="section__item-description">{{ item.description }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
