<div class="section__header">
  <h1 class="title">Dinner</h1>
  <h2 class="hours"><strong>Wednesday Thursday Friday 5<sup>pm</sup>-10<sup>pm</sup></strong></h2>
  <h2 class="hours"><strong>Sunday Closed</strong></h2>
</div>
{% for item in site.data.dinner_menu %}
  {% assign menu_item = item[1] %}
  <div class="section section-{{ menu_item.name }}" data-magellan-destination="Dinner{{ menu_item.name | capitalize }}"  id="Dinner{{ menu_item.name | capitalize}}">
    {% include menu-item.html %}
  </div>
{% endfor %}
