<footer>
  <hr>
  <div class="row social-media">
    <a class="small-4" href="mailto:essentoronto@gmail.com"><i class="fa fa-envelope"></i></a>
    <a class="small-4" href="http://instagram.com/essen_toronto"><i class="fa fa-instagram"></i></a>
    <a class="small-4" href="https://twitter.com/essen_toronto"><i class="fa fa-twitter"></i></a>
  </div>
  <div class="row contact-us">
    <p class="address">
      <span>1282 Dundas St. West</span>
      <span>Toronto, ON</span>
      <span>M6J 1X7</span>
      <span><a href="https://www.google.com/maps/place/1282+Dundas+St+W,+Toronto,+ON+M6J+1X7" class="directions">directions</a></span>
    </p>
    <p class="phone">Phone: <a href="tel:416-534-0407">416-534-0407</a></p>
    <p class="email">Email: <a href="mailto:essentoronto@gmail.com">essentoronto@gmail.com</a></p>
  </div>
</footer>
