<header>
   <div class="reservations">
      <a href="https://www.bookenda.com/essen?PartnerNumber=1&IdClientApplication=1774&IdServiceOccurence=0&Language=English#Reservation" target="_blank" onClick='window.open("https://www.bookenda.com/essen?PartnerNumber=1&IdClientApplication=1774&IdServiceOccurence=0&Language=English#Reservation","Bookenda","width=960,height=660,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no"); return false; '><image src="http://www.bookenda.com/Images/badge-booknow_book_EN.png" style="border-style:none"/></a>
    </div>
</header>
