<header>
    <div class="row reservations">
      <a class="small-3" href="https://www.bookenda.com/essen?PartnerNumber=1&IdClientApplication=1774&IdServiceOccurence=0&Language=English#Reservation" target="_blank" onClick='window.open("https://www.bookenda.com/essen?PartnerNumber=1&IdClientApplication=1774&IdServiceOccurence=0&Language=English#Reservation","Bookenda","width=960,height=660,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no"); return false; '><image src="http://www.bookenda.com/Images/badge-booknow_book_EN.png" style="border-style:none"/></a>
      <a class="small-3" href="tel:1234566789" class="call">123-324-2343</a>
      <a class="small-3" href="mailto:essentoronto@gmail.com">mail</a>
      <a class="small-3" href="instagram">insta</a>
    </div>
    <div class="row header-logo">
      <img src="/dist/img/logo-662x453.png" alt="">
    </div>
    <nav class="row">
      <ul class="main-nav">
        <li class="main-nav__item">
          <a class="nav-item__dinner" href="#Dinner">Dinner</a>
        </li>
        <li class="main-nav__item">
          <a class="nav-item__brunch" href="#Brunch">Brunch</a>
        </li>
      </ul>
      <div class="sub-nav">
        <ul class="sub-nav__dinner">
          {% for item in site.data.dinner_menu %}
            <li class="sub-nav__item">
              <a href="#Dinner{{ item[1].name | capitalize }}">{{ item[1].title | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="sub-nav">
        <ul class="sub-nav__brunch">
          {% for item in site.data.brunch_menu %}
            <li class="sub-nav__item">
            <a href="#Brunch{{ item[1].name | capitalize }}">{{ item[1].title | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
</header>
