@import "foundation/foundation/_settings.scss";
@import "variables.scss";
@import "functions.scss";

body {
  font-family: $font-family-sans-serif;
}

main {
  margin-top: $column-gutter;
  @include transition(margin-top 0.4s ease);
}

ul,
ul li ol,
ul li ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: $body-bg;
  background-color: $primary-color;
  padding: 10px 0;
}

.btn--inline {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  background-color: transparent;
  color: $jet;
  cursor: pointer;
}

.header-logo {
  padding: 70px 20px 200px;

  img {
    margin: 0 auto;
    display: block;
  }
}

header {
  position: relative;
}


/*============================================================================
  # Navigation & Reservations
==============================================================================*/
.reservations {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zindex6;
  background: $body-bg;
  overflow: hidden;

  a {
    color: $secondary-color;
    text-decoration: none;
  }

  span {
    color: $primary-color;
  }

  &.sticky,
  &.unsticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &.unsticky {
    height: 0;
    @include prefix(transform, translate3d(0px, 0, 0));
    @include transition(all 0.3s ease);
  }

  &.sticky {
    position: fixed;
    height: 65px;
    @include prefix(transform, translate3d(0px, 0, 0));
    @include transition(all 0.3s ease);
  }
}

.reservations,
.social-media {
   a {
    font-size: rem-calc(30);
    display: inline-block;
    margin: 0 -2px;
    text-align: center;

    span {
      display: block;
      font-size: rem-calc(12);
    }
  }
}

.nav-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  &.sticky,
  &.unsticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &.unsticky {
    height: 0;
    @include prefix(transform, translate3d(0px, 0, 0));
    @include transition(all 0.3s ease);
  }

  &.sticky {
    position: fixed;
    top: 0;
    padding-top: 65px;
    z-index: $zindex5;
    height: $mobileNavBarHeight;
    @include prefix(transform, translate3d(0px, 0, 0));
    @include transition(all 0.3s ease);
  }
}

nav li {
  display: none;
  text-align: center;

  &.active {
    display: inline-block;
  }

  a {
    color: $primary-color;
  }
}

.main-nav {
  text-align: center;
  background: $body-bg;
  padding-top: 12px;
}

.main-nav__item {
  display: inline-block;
  text-align: center;

  a {
    color: $jet;
    font-size: rem-calc(22);
    text-transform: uppercase;
    font-style: italic;
    line-height: rem-calc(38);
    display: block;
    text-decoration: none;

    &.active {
      font-size: rem-calc(48);
    }

    @include transition(font-size 0.3s ease);
  }
}

.sub-nav__wrapper {
  padding: 0;

  &[data-magellan-expedition-clone] {
    display: none;
  }
}

.sub-nav {
  background-color: $secondary-color;
  text-align: center;
  margin-top: -4px;
  display: block;
  padding: 10px 20px;
  background-color: $secondary-color;

  li {
    margin: 0 12px;
    a {
      text-transform: uppercase;
      color: $charcoal;
      font-style: italic;
      text-decoration: none;
      padding: 5px 10px;

      &.active,
      &:hover,
      &:active {
        background: $primary-color;
        border-radius: 3px;
        font-weight: 900;
        color: lighten($iron, 15%);
      }
    }
  }
}


/*============================================================================
  # Menu Items and Sections
==============================================================================*/

.section__header {
  margin: 40px 0 15px;

  h1,
  h2 {
    text-align: center;
    color: $jet;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;
    margin: 0;
    line-height: 1;
    padding: 0;
  }

  h1 {
    font-size: rem-calc(48);
  }

  h2 {
    font-size: rem-calc(22);
    background-color: transparent;
  }

  sup {
    top: 0;
  }
}

.section__list {
  padding: $column-gutter;
}

.section__item {
  list-style: none;
  padding-bottom: 5px;

  .wrapper {
    position: relative;
    display: block;
    margin-bottom: 3px;
    height: 20px;
  }

  .dotted-line {
    display: inline-block;
    width: 100%;
    height: 2px;
    border-bottom: dotted;
    position: absolute;
    top: 14px;
    left: 0;
  }
}

.section__item-name,
.section__item-price {
  position: absolute;
  top: 0;
  font-weight: 900;
  font-style: italic;
  z-index: $zindex1;
  background: $body-bg;
}

.section__item-name {
  left: 0;
  text-transform: capitalize;
  padding-right: 5px;
}

.section__item-price {
  right: 0;
  text-align: center;
  padding-left: 5px;
}

.section__item-description {
  line-height: 1;
  display: block;
  clear: both;
}

@media #{$medium-up} {
  .section__item {
    .wrapper {
      height: 35px;
    }

    .dotted-line {
      top: 27px;
    }
  }



  .section__item-name,
  .section__item-price {
    font-size: rem-calc(25);
  }
}

/*============================================================================
  #  Dinner
==============================================================================*/
.row-dinner {
  .section-mains,
  .section-vegetables {
    background-color: $tertiary-color;

    .section__item-name,
    .section__item-price {
      background: $tertiary-color;
    }
  }
}


.reveal-modal {

  .close-reveal-modal {
    background-color: $primary-color;
    color: $body-bg;
    height: 26px;
    width: 26px;
    font-size: rem-calc(35);
    line-height: 26px;
    text-align: center;
    border-radius: 13px;
  }
}


@media #{$small-only} {
  .reveal-modal {
    padding: 0;
    margin-top: 50%;
    min-height: 0;
  }
}


/*============================================================================
  # Footer
==============================================================================*/
footer {
  text-align: center;

  a {
    color: $secondary-color;
  }

  span {
    display: block;
  }

  .address {
    margin-top: 25px;
  }
}
