//Colors
// $primaryColor: #2B85D9;
// $secondaryColor: #8ABAE2;
// $textBodyColor: #000;
// $headerColor: #fff;
// $menuBgColor: #C9E2ED;


//Spacing and Sizing
$gutter: 20px;

$mobileNavBarHeight: 195px;


$zindex-1 : -1;
$zindex1  : 1;
$zindex2  : 2;
$zindex3  : 3;
$zindex4  : 4;
$zindex5  : 5;
$zindex6  : 6;
$zindex7  : 7;
$zindex8  : 8;
$zindex9  : 9;
$zindex10 : 10;
